* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login_page {
    background-image: url("./images/LoginPage.png");
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.login_options {
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    background-color: rgba(255,255,255,0.9);
    margin: 5rem;
    width: 20vw;
    min-width: 10rem;
    float: right;
    font-family: 'Varela Round', sans-serif;
    font-size: 250%;
    text-align: center;
    border-radius: 5%;
    box-shadow: inset;
    color: black;
    word-wrap: break-word;
}

.login_button {
    display: block;
    width: 100%;
    height: 4rem;
    cursor: pointer;
    margin-top: 2rem;
    border-radius: 5%;
    font-size: large !important;
}

.login_buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav ul li {
    display: inline;
    padding-right: 0.9em;
    padding-left: 0.9em;
    border-right: 1px solid white;
    font-family: 'Varela Round', sans-serif;
    font-size: 150%;
    color: white;
}

nav ul li:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
}

nav {
    background-image: linear-gradient(to right, rgb(100, 0, 100) , white);
    list-style-type: none;
    overflow: hidden;
}

.tree {
    height: 100vh;
}

.mytree {
    display: flex;
    border: 2py solid rgb(22, 63, 245);
}
.mytree :first-child {
    flex-grow: 3;
}
.mytree >* {
    flex-grow: 1;
}

.details {
    border: 2px solid green;
}

.text {
    margin: 1rem;
}